Client/Service References/Playout/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://sobey.com/sonaps/playout/types" elementFormDefault="qualified" targetNamespace="http://sobey.com/sonaps/playout/types" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetStudioList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="FilterGroup" type="tns:FilterGroupType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="FilterGroupType">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element minOccurs="0" maxOccurs="1" name="FilterGroup" type="tns:FilterGroupType" />
        <xs:element minOccurs="0" maxOccurs="1" name="AttributeCondition" type="tns:AttributeConditionType" />
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="Operator" type="tns:FilterGroupTypeOperator" use="required" />
  </xs:complexType>
  <xs:complexType name="AttributeConditionType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Attribute" type="tns:AttributeType" />
    </xs:sequence>
    <xs:attribute name="Condition" type="tns:ConditionType" use="required" />
  </xs:complexType>
  <xs:complexType name="AttributeType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="Name" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="ConditionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EQUALS" />
      <xs:enumeration value="NOT_EQUALS" />
      <xs:enumeration value="CONTAINS" />
      <xs:enumeration value="NOT_CONTAINS" />
      <xs:enumeration value="LESS_THAN" />
      <xs:enumeration value="LESS_THAN_OR_EQUAL_TO" />
      <xs:enumeration value="GREATER_THAN" />
      <xs:enumeration value="GREATER_THAN_OR_EQUAL_TO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FilterGroupTypeOperator">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OR" />
      <xs:enumeration value="AND" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GetStudioListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfErrorType" />
        <xs:element minOccurs="0" maxOccurs="1" name="Results" type="tns:ArrayOfStudioType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfErrorType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Error" type="tns:ErrorType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ErrorType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Message" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Details" type="xs:string" />
    </xs:sequence>
    <xs:attribute name="Code" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ArrayOfStudioType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Studio" type="tns:StudioType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StudioType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="StudioID" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="StudioMosID" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Standard" type="tns:StandardType" />
      <xs:element minOccurs="1" maxOccurs="1" name="SystemStandard" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="StandardType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="HD" />
      <xs:enumeration value="SD" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GetRundownList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="FilterGroup" type="tns:FilterGroupType" />
        <xs:element minOccurs="1" maxOccurs="1" name="StudioID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRundownListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfErrorType" />
        <xs:element minOccurs="0" maxOccurs="1" name="Results" type="tns:ArrayOfRundownType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfRundownType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Rundown" type="tns:RundownType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RundownType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="RundownID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Status" type="tns:RundownStatusType" />
      <xs:element minOccurs="0" maxOccurs="1" name="CreateTime" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="StudioID" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="StudioName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Type" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="FirstPlayDate" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="RundownStatusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Idle" />
      <xs:enumeration value="OnAir" />
      <xs:enumeration value="Stopped" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GetStoryList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="FilterGroup" type="tns:FilterGroupType" />
        <xs:element minOccurs="0" maxOccurs="1" name="RundownID" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStoryListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfErrorType" />
        <xs:element minOccurs="0" maxOccurs="1" name="Results" type="tns:ArrayOfStoryType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfStoryType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Story" type="tns:StoryType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StoryType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="StoryID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Comment" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CreateDate" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="RundownID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="RundownName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Type" type="tns:StoryTypeEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="StoryTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Main" />
      <xs:enumeration value="Sub" />
      <xs:enumeration value="All" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GetEventList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="FilterGroup" type="tns:FilterGroupType" />
        <xs:element minOccurs="0" maxOccurs="1" name="StoryID" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfErrorType" />
        <xs:element minOccurs="0" maxOccurs="1" name="Results" type="tns:ArrayOfEventType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfEventType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Event" type="tns:EventType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EventType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="EventID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Comment" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="InPoint" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="OutPoint" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Duration" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Channel" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Status" type="tns:EventStatusType" />
      <xs:element minOccurs="0" maxOccurs="1" name="CreateDate" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="RundownID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="RundownName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Version" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="MaterialStatus" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="EditorialFlag" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="Type" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="KeyFrame" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="MaterialID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="FollowMode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="MaterialTitle" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CG" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="LastWord" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Producer" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="EngineeringFlag" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="EventStatusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Idle" />
      <xs:enumeration value="NextStandby" />
      <xs:enumeration value="Cueing" />
      <xs:enumeration value="Standby" />
      <xs:enumeration value="Play" />
      <xs:enumeration value="Freeze" />
      <xs:enumeration value="End" />
      <xs:enumeration value="Skipped" />
      <xs:enumeration value="Error" />
      <xs:enumeration value="Preparing" />
      <xs:enumeration value="Skip" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GetStudioMetadata">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="StudioID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudioMetadataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfErrorType" />
        <xs:element minOccurs="0" maxOccurs="1" name="Results" type="tns:StudioMetadataType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="StudioMetadataType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="StudioID" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="StudioMosID" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Standard" type="tns:StandardType" />
      <xs:element minOccurs="0" maxOccurs="1" name="ChannelDetail" type="tns:ArrayOfChannel" />
      <xs:element minOccurs="1" maxOccurs="1" name="SystemStandard" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfChannel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Channel" type="tns:Channel" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Channel">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Type" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="AssignMode" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetRundownMetadata">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="RundownID" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRundownMetadataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfErrorType" />
        <xs:element minOccurs="0" maxOccurs="1" name="Results" type="tns:RundownMetadataType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="RundownMetadataType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="RundownID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Comments" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Status" type="tns:RundownStatusType" />
      <xs:element minOccurs="0" maxOccurs="1" name="CreateDate" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PlayoutDateTime" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="StudioID" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="StudioName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="PlaylistType" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetStoryMetadata">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="StoryID" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStoryMetadataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfErrorType" />
        <xs:element minOccurs="0" maxOccurs="1" name="Results" type="tns:StoryMetadataType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="StoryMetadataType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="StoryID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Comments" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CreateDate" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="RundownID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="RundownName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="LastUpdated" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="UpdateUser" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="UpdateTerminal" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="StoryMOSID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="StoryNumber" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetEventMetadata">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="EventID" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventMetadataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfErrorType" />
        <xs:element minOccurs="0" maxOccurs="1" name="Results" type="tns:EventMetadataType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="EventMetadataType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="EventID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Comment" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="InPoint" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="OutPoint" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Duration" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Channel" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Status" type="tns:EventStatusType" />
      <xs:element minOccurs="0" maxOccurs="1" name="CreateDate" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="RundownID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="RundownName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="RundownType" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="StoryName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="StoryID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Version" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="LastUpdated" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="UpdateUser" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="UpdateTerminal" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Versions" type="tns:ArrayOfEventVersionType" />
      <xs:element minOccurs="1" maxOccurs="1" name="Type" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="KeyFrame" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="MOSItemID" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="StudioID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfEventVersionType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Version" type="tns:EventVersionType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EventVersionType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Version" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="InPoint" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="OutPoint" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Duration" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ClipGuid" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="EditorialFlag" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="MaterialStatus" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="MaterialTitle" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="MaterialID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="MaterialComment" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="MaterialRights" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetEventModifyFlag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="EventID" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventModifyFlagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfErrorType" />
        <xs:element minOccurs="0" maxOccurs="1" name="Results" type="tns:EventModifyFlagType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="EventModifyFlagType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="EditorialFlag" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SetRundownMetadata">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Comments" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="PlayoutDateTime" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="RundownID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="RundownTitle" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRundownMetadataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfErrorType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStoryMetadata">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Comments" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="StoryID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="StoryTitle" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStoryMetadataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfErrorType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetEventMetadata">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Comments" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="EventID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="EventTitle" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="Version" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetEventMetadataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfErrorType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRundown">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Comments" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="PlayoutDate" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="RundownTitle" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="StartTime" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="StudioID" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="Type" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRundownResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfErrorType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Comments" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="RundownID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="StoryTitle" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfErrorType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Comments" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="EventTitle" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="StoryID" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfErrorType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRundown">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="RundownID" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRundownResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfErrorType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="StoryID" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfErrorType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="EventID" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfErrorType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterOAMaterial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="EventID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="ObjectGuid" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterOAMaterialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfErrorType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterOAMaterialByMetadata">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ClipMeta" type="tns:Clip" />
        <xs:element minOccurs="0" maxOccurs="1" name="EventID" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Clip">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="CLIPNAME" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="INPOINT" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="OUTPOINT" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="LENGTH" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="VIDEOSTANDARD" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="CLIPTYPE" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="NONAUDIOCHANNEL" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="CREATEDATE" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CLIPFILES" type="tns:ArrayOfCLIPFILE" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfCLIPFILE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CLIPFILE" nillable="true" type="tns:CLIPFILE" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CLIPFILE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="FILENAME" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="QUALITYTYPE" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="CLIPCLASS" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="CLIPIN" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="CLIPOUT" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="FILEIN" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="FILEOUT" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="LENGTH" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="CHANNEL" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="FILESIZE" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="FORMATID" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="FILESTATUS" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="STANDARDAMP" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegisterOAMaterialByMetadataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfErrorType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrashCanObjects">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="ObjectType" type="tns:PlayoutObjectTypeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="PlayoutObjectTypeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RUNDOWN" />
      <xs:enumeration value="STORY" />
      <xs:enumeration value="EVENT" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GetTrashCanObjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfErrorType" />
        <xs:element minOccurs="0" maxOccurs="1" name="Results" type="tns:ArrayOfTrashCanObjectType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfTrashCanObjectType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TrashCanObject" type="tns:TrashCanObjectType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TrashCanObjectType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ObjectID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Title" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Type" type="tns:PlayoutObjectTypeType" />
      <xs:element minOccurs="0" maxOccurs="1" name="LogicalPath" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PurgeDeletedObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ObjectID" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurgeDeletedObjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfErrorType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestoreDeletedObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ObjectID" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestoreDeletedObjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfErrorType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetEventVersionMetadata">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="EditorialFlag" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="EventID" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="EventVersion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetEventVersionMetadataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfErrorType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Params" type="tns:UserLoginRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="UserLoginRequest">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="UserId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="StudioId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="UserLoginResult" type="tns:UserLoginResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="UserLoginResponse">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Succeed" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfErrorType1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfErrorType1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ErrorType" nillable="true" type="tns:ErrorType" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>