Client/Service References/Playout/PlayoutService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://sobey.com/sonaps/playout/types" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PlayoutService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://sobey.com/sonaps/playout/types" location="http://localhost:9988/?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_Playout" type="i0:Playout">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStudioList">
      <soap:operation soapAction="http://sobey.com/sonaps/playout/types/Playout/GetStudioList" style="document" />
      <wsdl:input name="GetStudioListType">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetStudioListResponseType">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRundownList">
      <soap:operation soapAction="http://sobey.com/sonaps/playout/types/Playout/GetRundownList" style="document" />
      <wsdl:input name="GetRundownListType">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetRundownListResponseType">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStoryList">
      <soap:operation soapAction="http://sobey.com/sonaps/playout/types/Playout/GetStoryList" style="document" />
      <wsdl:input name="GetStoryListType">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetStoryListResponseType">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEventList">
      <soap:operation soapAction="http://sobey.com/sonaps/playout/types/Playout/GetEventList" style="document" />
      <wsdl:input name="GetEventListType">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetEventListResponseType">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudioMetadata">
      <soap:operation soapAction="http://sobey.com/sonaps/playout/types/Playout/GetStudioMetadata" style="document" />
      <wsdl:input name="GetStudioMetadataType">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetStudioMetadataResponseType">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRundownMetadata">
      <soap:operation soapAction="http://sobey.com/sonaps/playout/types/Playout/GetRundownMetadata" style="document" />
      <wsdl:input name="GetRundownMetadataType">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetRundownMetadataResponseType">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStoryMetadata">
      <soap:operation soapAction="http://sobey.com/sonaps/playout/types/Playout/GetStoryMetadata" style="document" />
      <wsdl:input name="GetStoryMetadataType">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetStoryMetadataResponseType">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEventMetadata">
      <soap:operation soapAction="http://sobey.com/sonaps/playout/types/Playout/GetEventMetadata" style="document" />
      <wsdl:input name="GetEventMetadataType">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetEventMetadataResponseType">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEventModifyFlag">
      <soap:operation soapAction="http://sobey.com/sonaps/playout/types/Playout/GetEventModifyFlag" style="document" />
      <wsdl:input name="GetEventModifyFlagType">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetEventModifyFlagResponseType">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetRundownMetadata">
      <soap:operation soapAction="http://sobey.com/sonaps/playout/types/Playout/SetRundownMetadata" style="document" />
      <wsdl:input name="SetRundownMetadataType">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SetRundownMetadataResponseType">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetStoryMetadata">
      <soap:operation soapAction="http://sobey.com/sonaps/playout/types/Playout/SetStoryMetadata" style="document" />
      <wsdl:input name="SetStoryMetadataType">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SetStoryMetadataResponseType">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetEventMetadata">
      <soap:operation soapAction="http://sobey.com/sonaps/playout/types/Playout/SetEventMetadata" style="document" />
      <wsdl:input name="SetEventMetadataType">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SetEventMetadataResponseType">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRundown">
      <soap:operation soapAction="http://sobey.com/sonaps/playout/types/Playout/AddRundown" style="document" />
      <wsdl:input name="AddRundownType">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AddRundownResponseType">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddStory">
      <soap:operation soapAction="http://sobey.com/sonaps/playout/types/Playout/AddStory" style="document" />
      <wsdl:input name="AddStoryType">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AddStoryResponseType">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEvent">
      <soap:operation soapAction="http://sobey.com/sonaps/playout/types/Playout/AddEvent" style="document" />
      <wsdl:input name="AddEventType">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AddEventResponseType">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRundown">
      <soap:operation soapAction="http://sobey.com/sonaps/playout/types/Playout/DeleteRundown" style="document" />
      <wsdl:input name="DeleteRundownType">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DeleteRundownResponseType">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStory">
      <soap:operation soapAction="http://sobey.com/sonaps/playout/types/Playout/DeleteStory" style="document" />
      <wsdl:input name="DeleteStoryType">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DeleteStoryResponseType">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEvent">
      <soap:operation soapAction="http://sobey.com/sonaps/playout/types/Playout/DeleteEvent" style="document" />
      <wsdl:input name="DeleteEventType">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DeleteEventResponseType">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterOAMaterialByGUID">
      <soap:operation soapAction="http://sobey.com/sonaps/playout/types/Playout/RegisterOAMaterialByGUID" style="document" />
      <wsdl:input name="RegisterOAMaterialType">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RegisterOAMaterialResponseType">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterOAMaterialByMetadata">
      <soap:operation soapAction="http://sobey.com/sonaps/playout/types/Playout/RegisterOAMaterialByMetadata" style="document" />
      <wsdl:input name="RegisterOAMaterialByMetadataType">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RegisterOAMaterialByMetadataResponseType">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrashCanObjects">
      <soap:operation soapAction="http://sobey.com/sonaps/playout/types/Playout/GetTrashCanObjects" style="document" />
      <wsdl:input name="GetTrashCanObjectsType">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetTrashCanObjectsResponseType">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PurgeDeletedObject">
      <soap:operation soapAction="http://sobey.com/sonaps/playout/types/Playout/PurgeDeletedObject" style="document" />
      <wsdl:input name="PurgeDeletedObjectType">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="PurgeDeletedObjectResponseType">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RestoreDeletedObject">
      <soap:operation soapAction="http://sobey.com/sonaps/playout/types/Playout/RestoreDeletedObject" style="document" />
      <wsdl:input name="RestoreDeletedObjectType">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RestoreDeletedObjectResponseType">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetEventVersionMetadata">
      <soap:operation soapAction="http://sobey.com/sonaps/playout/types/Playout/SetEventVersionMetadata" style="document" />
      <wsdl:input name="SetEventVersionMetadataType">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SetEventVersionMetadataResponseType">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLogin">
      <soap:operation soapAction="http://sobey.com/sonaps/playout/types/Playout/UserLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PlayoutService">
    <wsdl:port name="BasicHttpBinding_Playout" binding="tns:BasicHttpBinding_Playout">
      <soap:address location="http://localhost:9988/Service" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>